.schedule {
    .weekdays {
        padding: 18px;
        box-sizing: content-box;
        justify-content: space-between;
        display: flex;

        .weekday {
            text-align: center;
            padding: 8px 12px;
        }
    }

    .weekdays-numb {
        grid-template-columns: calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7);
        grid-template-rows: auto;
        display: grid;

        .weekday-numb {
            cursor: pointer;
            color: rgba(44, 62, 80, 0.85);
            padding: 12px;
            text-align: center;
            font-weight: bold;
            border: 1px solid rgba(44, 62, 80, 0.13);

            &.weekday-month-prev,
            &.weekday-month-next {
                cursor: default;
                color: rgba(80, 80, 80, 0.75);
                font-weight: normal;
                background: rgba(220, 220, 220, 0.45) !important;
            }
            &.today {
                color: #fff;
                background: rgba(44, 62, 80, .55);
            }
        }
    }
    section.events {
        height: auto;
        ul {
            max-height: 450px;
            overflow-x: scroll;
            li {
                padding: 0;
                list-style: none;
                a {
                    padding: 20px 18px 5px 18px;
                    color: $blue_primary;
                    text-decoration: none;
                    display: block;
                    transition: all .4s ease-in-out;
                }
                &:hover a {
                    color: #fff;
                    background: $blue_primary;
                }
            }
        }
    }
}

