// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-Awesome
@import "~font-awesome/scss/font-awesome";

// Remixicon
@import "~remixicon/fonts/remixicon.css";

@import 'slider';

@import 'calendar';

* {
    box-sizing: border-box;
}

header.header {
    width: 100%;
    height: auto;
    background: $blue_primary !important;
    .brand {
        padding: 8px;
        width: 100%;
        height: 30vh;
        font-size: 1.8rem;
        justify-content: center;
        align-items: center;
        display: flex;
        a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
                color: #fff;
            }
        }
        img {
            width: auto;
            height: 150px;
        }
    }
    .navbar {
        padding: 0;
        color: #fff;
        background: transparent !important;
        border-top: 1px solid rgba(255,255,255,0.3);
        transition: color, background 0.3s ease-in-out;
        .navbar-nav {
            .nav-item {
                a {
                    padding: 16px;
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-family: "PT Sans", sans-serif;
                    letter-spacing: 1px;
                    display: block;
                    font-size: 0.8rem;
                    &:hover {
                        color: #fff;
                        transition: all 0.3s ease-in-out;
                    }
                }
                &.active,
                &:hover {
                    a {
                        color: $blue_primary;
                    }
                    background: #fff;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}

header.header-slim {
    width: 100%;
    height: auto;
    background: $blue_primary !important;
    .brand {
        a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
                color: #fff;
            }
        }
        img {
            width: auto;
            height: 80px;
        }
    }
    .navbar {
        color: #fff;
        background: $blue_primary !important;
        .navbar-nav {
            padding: 0;
            margin: 0;
            .nav-item {
                a {
                    color: #fff;
                    padding: 26px 16px;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-family: "PT Sans", sans-serif;
                    letter-spacing: 1px;
                    display: block;
                    font-size: 0.8rem;
                    &:hover {
                        color: #fff;
                        transition: all 0.3s ease-in-out;
                    }
                }
                &.active,
                &:hover {
                    a {
                        color: $blue_primary;
                    }
                    background: #fff;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}

/** News **/
section.news {
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
    grid-template-rows: auto;
    display: grid;
    article.news-article {
        color: #fff;
        margin-bottom: 15px;
        position: relative;
        height: 220px !important;
        background-size: cover;
        background-position: 50% 50%;
        background-color: $blue_primary;
        border-radius: 4px;
        overflow: hidden;
        &:not(:nth-child(3n)){
            margin-right: 15px;
        }
        .news-container {
            padding: 15px 18px;
            position: absolute;
            top: 76%;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.7);
            transition: top 0.4s ease;
            h3 {
                font-family: "PT Sans", sans-serif;
                font-size: 1.15rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 20px;
            }
            hr {
                margin: 15px auto;
                width: 97%;
            }
        }
        &:hover .news-container {
            top: 0;

        }
    }
}

section.shedule {
    .title {
        a {
            color: #999 !important;
            text-decoration: none;
        }
    }
}

/** Footer **/
footer.footer {
    padding: 18px 0;
    color: #fff;
    width: 100%;
    height: auto;
    background: url('/images/footer.bg.png');
    background-size: 35%;
    h3 {
        text-align: right;
        font-family: "PT Sans", sans-serif;
        font-weight: bold;
        margin-bottom: 20px;
    }
    ul {
        list-style: none;
        li {
            margin: 8px 0;
            text-align: right;
            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
    p {
        margin-top: 20px;
        text-align: center !important;
        font-weight: bold;
    }

    a {
        color: #fff;
        font-size: 20px;
        margin-bottom: 22px;
    }
}
